@model IEnumerable<NewsWebsite.Data.Entities.Category>

<div class="aside-widget">
    <div class="tags-widget">
        <ul>
            @foreach (var item in Model)
            {
                <li><a href="#">@item.CategoryName</a></li>
            }
        </ul>
    </div>
</div>


