@{
    ViewBag.Title = "Trang chủ";
}

<div class="content">
    <h1 class="myh1">CÔNG NGHỆ</h1>
    <div class="slideshow-container">

        <div class="mySlides1">
            <a href=""><img src="~/Assets/image/picture1.jpg" title="Thanh niên 19 tuổi này là hacker đầu tiên thành triệu phú đô la nhờ săn tiền thưởng từ các lỗi bảo mật"></a>
            <div>
                <a class="text" href="" title="Thanh niên 19 tuổi này là hacker đầu tiên thành triệu phú đô la nhờ săn tiền thưởng từ các lỗi bảo mật">
                    Thanh niên 19 tuổi này là hacker đầu tiên thành triệu phú đô la nhờ săn tiền thưởng từ các lỗi bảo mật
                </a>
            </div>
        </div>

        <div class="mySlides1">
            <a href=""><img src="~/Assets/image/picture2.jpg" title="Flutter khác biệt gì so với “người anh” Android?"></a>
            <div>
                <a class="text" href="" title="Flutter khác biệt gì so với “người anh” Android?">
                    Flutter khác biệt gì so với “người anh” Android?
                </a>
            </div>
        </div>

        <div class="mySlides1">
            <a href=""><img src="~/Assets/image/picture3.jpg" title="8 gã khổng lồ có những lỗ hổng bảo mật phải sửa ngay"></a>
            <div>
                <a class="text" href="" title="8 gã khổng lồ có những lỗ hổng bảo mật phải sửa ngay">
                    8 gã khổng lồ có những lỗ hổng bảo mật phải sửa ngay
                </a>
            </div>
        </div>

        <div class="mySlides1">
            <a href=""><img src="~/Assets/image/picture4.jpg" title="Tại sao công nghệ Blockchain lại vô cùng phức tạp?"></a>
            <div>
                <a class="text" href="" title="Tại sao công nghệ Blockchain lại vô cùng phức tạp?">
                    Tại sao công nghệ Blockchain lại vô cùng phức tạp?
                </a>
            </div>
        </div>

        <div class="mySlides1">
            <a href=""><img src="~/Assets/image/picture5.jpg" title="Đây là những kỹ thuật Machine Learning cơ bản giúp máy tính tư duy như con người"></a>
            <div>
                <a class="text" href="" title="Đây là những kỹ thuật Machine Learning cơ bản giúp máy tính tư duy như con người">
                    Đây là những kỹ thuật Machine Learning cơ bản giúp máy tính tư duy như con người
                </a>
            </div>
        </div>

        <a class="prev" onclick="plusSlides1(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides1(1)">&#10095;</a>
    </div>


    <h1 class="myh1">LẬP TRÌNH</h1>
    <div class="slideshow-container">

        <div class="mySlides2">
            <a href=""><img src="~/Assets/image/picture6.jpg" title="Một vài thủ thuật CSS mà chính Frontend có thể còn chưa biết"></a>
            <div>
                <a class="text" href="" title="Một vài thủ thuật CSS mà chính Frontend có thể còn chưa biết">
                    Một vài thủ thuật CSS mà chính Frontend có thể còn chưa biết
                </a>
            </div>
        </div>

        <div class="mySlides2">
            <a href=""><img src="~/Assets/image/picture7.jpg" title="Cách sử dụng các plugins jQuery trong VueJS"></a>
            <div>
                <a class="text" href="" title="Cách sử dụng các plugins jQuery trong VueJS">
                    Cách sử dụng các plugins jQuery trong VueJS
                </a>
            </div>
        </div>

        <div class="mySlides2">
            <a href=""><img src="~/Assets/image/picture8.jpg" title="Machine Learning thật thú vị (2): Tạo sách văn học và game Mario"></a>
            <div>
                <a class="text" href="" title="Machine Learning thật thú vị (2): Tạo sách văn học và game Mario">
                    Machine Learning thật thú vị (2): Tạo sách văn học và game Mario
                </a>
            </div>
        </div>

        <div class="mySlides2">
            <a href=""><img src="~/Assets/image/picture9.jpg" title="Tại sao mình lại chọn Kotlin là ngôn ngữ tiếp theo của mình?"></a>
            <div>
                <a class="text" href="" title="Tại sao mình lại chọn Kotlin là ngôn ngữ tiếp theo của mình?">
                    Tại sao mình lại chọn Kotlin là ngôn ngữ tiếp theo của mình?
                </a>
            </div>
        </div>

        <div class="mySlides2">
            <a href=""><img src="~/Assets/image/picture10.jpg" title="Có gì mới trong Swift 5.0 ?"></a>
            <div>
                <a class="text" href="" title="Có gì mới trong Swift 5.0 ?">
                    Có gì mới trong Swift 5.0 ?
                </a>
            </div>
        </div>

        <a class="prev" onclick="plusSlides2(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides2(1)">&#10095;</a>
    </div>
    <h1 class="myh1">TOOLS&TIPS</h1>
    <table class="row1">
        <tr>
            <th>
                <a href=""><img src="~/Assets/image/picture11.jpg" title="8 tip để làm việc hiệu quả trên GitHub"></a><br>
                <h3>
                    <a href="" title="8 tip để làm việc hiệu quả trên GitHub">
                        8 tip để àm việc hiệu quả trên GitHub
                    </a>
                </h3>
            </th>
            <th>
                <a href=""><img src="~/Assets/image/picture12.jpg" title="9 mẹo và thủ thuật cho Chrome Dev Tools"></a><br>
                <h3>
                    <a href="" title="9 mẹo và thủ thuật cho Chrome Dev Tools">
                        9 mẹo và thủ thuật cho Chrome Dev Tools
                    </a>
                </h3>
            </th>
            <th>
                <a href=""><img src="~/Assets/image/picture13.jpg" title="Áp dụng Machine learning, xây dựng ứng dụng chatbot riêng của bạn"></a><br>
                <h3>
                    <a href="" title="Áp dụng Machine learning, xây dựng ứng dụng chatbot riêng của bạn">
                        Áp dụng Machine learning, xây dựng ứng dụng chatbot...
                    </a>
                </h3>

            </th>
        </tr>
    </table>
    <br>
    <table class="row1">
        <tr>
            <th>
                <a href=""><img src="~/Assets/image/picture14.png" title="13 bước để trở thành Hacker chuyên nghiệp"></a><br>
                <h3>
                    <a href="" title="13 bước để trở thành Hacker chuyên nghiệp">
                        13 bước để trở thành Hacker chuyên nghiệp
                    </a>
                </h3>
            </th>
            <th>
                <a href=""><img src="~/Assets/image/picture15.jpeg" title="30 Từ Viết Tắt Thông Dụng Nhất Trong Ngành Web"></a><br>
                <h3>
                    <a href="" title="30 Từ Viết Tắt Thông Dụng Nhất Trong Ngành Web">
                        30 Từ Viết Tắt Thông Dụng Nhất Trong Ngành Web
                    </a>
                </h3>
            </th>
            <th>
                <a href=""><img src="~/Assets/image/picture16.png" title="Các mẹo hay và tool tiện lời dành cho Visual Studio Code"></a><br>
                <h3>
                    <a href="" title="Các mẹo hay và tool tiện lời dành cho Visual Studio Code">
                        Các mẹo hay và tool tiện lời dành cho Visual Studio Code
                    </a>
                </h3>
            </th>
        </tr>
    </table>
    <br>
    <table class="row1">
        <tr>
            <th>
                <a href=""><img src="~/Assets/image/picture17.png" title="Game Developer Roadmap 2018 – Bí kíp trở thành một lập trình viên phát triển game"></a><br>
                <h3>
                    <a href="" title="Game Developer Roadmap 2018 – Bí kíp trở thành một lập trình viên phát triển game">
                        Game Developer Roadmap 2018 – Bí kíp trở thành...
                    </a>
                </h3>
            </th>
            <th>
                <a href=""><img src="~/Assets/image/picture18.jpg" title="Thuật toán sắp xếp nào là nhanh nhất?"></a><br>
                <h3>
                    <a href="" title="Thuật toán sắp xếp nào là nhanh nhất?">
                        Thuật toán sắp xếp nào là nhanh nhất?
                    </a>
                </h3>
            </th>
            <th>
                <a href=""><img src="~/Assets/image/picture19.jpg" title="Tổng hợp 10 bí kíp C# mới nhất"></a><br>
                <h3>
                    <a href="" title="Tổng hợp 10 bí kíp C# mới nhất">
                        Tổng hợp 10 bí kíp C# mới nhất
                    </a>
                </h3>
            </th>
        </tr>
    </table>
    <h1 class="myh1">SỰ KIỆN</h1>
    <table class="row4">
        <tr>
            <th>
                <a href=""><img src="~/Assets/image/picture20.jpg" title="Tham dự đêm tiệc Golang tại iTechBlack – Coworking incubator đẹp nhất tại TP.HCM"></a><br>
                <h3>
                    <a href="" title="Tham dự đêm tiệc Golang tại iTechBlack – Coworking incubator đẹp nhất tại TP.HCM">
                        Tham dự đêm tiệc Golang tại iTechBlack-Coworking incubator...
                    </a>
                </h3>
            </th>
            <th>
                <a href=""><img src="~/Assets/image/picture21.jpg" title="[Limited Free] Chuỗi Hội nghị Cloud & Datacenter lớn nhất Đông Nam Á chính thức “cập bến” Việt Nam!"></a><br>
                <h3>
                    <a href="" title="[Limited Free] Chuỗi Hội nghị Cloud & Datacenter lớn nhất Đông Nam Á chính thức “cập bến” Việt Nam!">
                        [Limited Free] Chuỗi Hội nghị Cloud & Datacenter lớn nhất Đông Nam Á...
                    </a>
                </h3>
            </th>
        </tr>
    </table>
    <table class="row4">
        <tr>
            <th>
                <a href=""><img src="~/Assets/image/picture22.png" title="Vietnam Web Summit: Ngày hội của những kỳ lân công nghệ – sức mạnh kết nối và lan tỏa trí tuệ doanh nghiệp"></a><br>
                <h3>
                    <a href="" title="Vietnam Web Summit: Ngày hội của những kỳ lân công nghệ – sức mạnh kết nối và lan tỏa trí tuệ doanh nghiệp">
                        Vietnam Web Summit: Ngày hội của những kỳ lân công nghệ – sức mạnh kết nối và ...
                    </a>
                </h3>
            </th>
            <th>
                <a href=""><img src="~/Assets/image/picture23.jpg" title="[Java Day] LineVietnam tổ chức sự kiện cho lập viên Java – Mở đầu chuỗi sự kiện lập trình đáng mong chờ trong năm"></a><br>
                <h3>
                    <a href="" title="[Java Day] LineVietnam tổ chức sự kiện cho lập viên Java – Mở đầu chuỗi sự kiện lập trình đáng mong chờ trong năm">
                        [Java Day] LineVietnam tổ chức sự kiện cho lập viên Java – Mở đầu chuỗi sự kiện...
                    </a>
                </h3>
            </th>
        </tr>
    </table>
    <table class="row4">
        <tr>
            <th>
                <a href=""><img src="~/Assets/image/picture24.jpg" title="Cuộc thi sáng tạo ACB WIN 2018 chính thức nhận bài dự thi"></a><br>
                <h3>
                    <a href="" title="Cuộc thi sáng tạo ACB WIN 2018 chính thức nhận bài dự thi">
                        Cuộc thi sáng tạo ACB WIN 2018 chính thức nhận bài dự thi
                    </a>
                </h3>
            </th>
            <th>
                <a href=""><img src="~/Assets/image/picture25.png" title="Công nghệ Blockchain thay đổi cuộc sống chúng ta từng ngày"></a><br>
                <h3>
                    <a href="" title="Công nghệ Blockchain thay đổi cuộc sống chúng ta từng ngày">
                        Công nghệ Blockchain thay đổi cuộc sống chúng ta từng ngày
                    </a>
                </h3>
            </th>
        </tr>
    </table>

</div>