<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Mới nhất</h2>
                </div>
            </div>
            @Html.Action("LatestPostsPartial", "Post")

        </div>
        <!-- /row -->
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Lập trình</h2>
                </div>
            </div>
            <!--Code Here-->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->
<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h2>Đọc nhiều nhất</h2>
                        </div>
                    </div>
                    <!-- post -->
                    
                    @Html.Action("MostReadPostsPartial", "Post")
                    <!-- /post -->

                    <div class="col-md-12">
                        <div class="section-row">
                            <button class="primary-button center-block">Xem thêm</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <!-- ad -->
                <div class="aside-widget text-center">
                    <a href="#" style="display: inline-block;margin: auto;">
                        <img class="img-responsive" src="~/Assets/img/ad-1.jpg" alt="">
                    </a>
                </div>
                <!-- /ad -->
                <!-- catagories -->
                <div class="aside-widget">
                    <div class="section-title">
                        <h2>Danh mục</h2>
                    </div>
                    <div class="category-widget">
                        <ul>
                            @Html.Action("CategoriesPartial", "Home")
                        </ul>
                    </div>
                </div>
                <!-- /catagories -->
                <!-- tags -->
                @Html.Action("TagsPartial", "Home")
                <!-- /tags -->
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->